<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Lwwwwwwp">
    <title>核桃林</title>
    <link rel="icon" th:href="@{/static/icon/favicon.ico}"
          type="image/x-icon"/>
    <!--  SCRIPT START-->
    <script th:src="@{/static/js/plugins/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/static/js/plugins/popper/popper.min.js}"></script>
    <script th:src="@{/static/js/plugins/bootstrap/bootstrap.js}"></script>
    <script th:src="@{/static/assets/global/plugins/jquery-validation/js/jquery.validate.min.js}"></script>
    <script th:src="@{/static/js/plugins/jquery.cookie.js}"></script>
    <script th:src="@{/static/js/plugins/htl.js}"></script>
    <script th:src="@{/static/js/auth/auth.js}"></script>
    <!--  SCRIPT END-->
    <!--  CSS START-->
    <link rel="stylesheet" th:href="@{/static/assets/global/plugins/bootstrap/css/bootstrap.min.css}"/>
    <!--  CSS END-->
</head>
<body>
<!-- BEGIN HEADER -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid col-md-12">
        <div class="col-md-1"></div>
        <div class="navbar-header col-md-1" data-toggle="collapse" data-target="#example-navbar-collapse">
            <a class="nav-link" href="#"> <img class="mb-3  align-items-start" th:src="@{/static/images/home/menu.png}"
                                               alt=""><span class="sr-only">主頁</span></a>
        </div>
        <div class="col-md-6">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">文件<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">关键词导入</a></li>
                        <li><a href="#">关键词</a></li>
                        <li><a href="#">关键词导出</a></li>
                        <li><a href="#">素材录入</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">资源管理<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">关键词修改</a></li>
                        <li><a href="#">关键词删除</a></li>
                        <li><a href="#">素材修改</a></li>
                        <li><a href="#">素材删除</a></li>
                    </ul>
                </li>
                <li class=" dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">帮助<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">关键词使用手册</a></li>
                        <li><a href="#">素材使用手册</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right" th:object="${user}">
                <li><img  th:each="cookie:${#httpServletRequest.getCookies()}"
                          th:if="${cookie.getName().equals('user.headUrl')}"
                          th:href="@{/static${cookie.getValue()}}" />
                </img></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END HEADER -->
</body>
</html>
