<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
  	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Lwwwwwwp">
	<title>核桃林</title>
	<link rel="icon" th:href="@{/static/icon/favicon.ico}" type="image/x-icon" />
	<!--  SCRIPT START-->
    <script th:src="@{/static/js/plugins/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/static/js/plugins/popper/popper.min.js}"></script>
	<script th:src="@{/static/js/plugins/bootstrap/bootstrap.js}"></script>
	<script th:src="@{/static/assets/global/plugins/jquery-validation/js/jquery.validate.min.js}"></script>
	<script th:src="@{/static/js/plugins/jquery.cookie.js}"></script>
	<script th:src="@{/static/js/plugins/select2/dist/js/select2.full.js}"></script>
	<script th:src="@{/static/js/plugins/htl.js}"></script>
	<script th:src="@{/static/js/login/register.js}"></script>
	
	<!--  SCRIPT END-->
	<!--  CSS START-->
	<link rel="stylesheet" th:href="@{/static/assets/global/plugins/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/static/css/select2/dist/css/select2.css}" />
	<link rel="stylesheet" th:href="@{/static/css/login.css}" />
	<!--  CSS END-->
  </head>
  <body class="text-center">
    	<form class="form-signin" id="regist-form"  method="post">
		<!-- th:action="@{/htllogin/login}" th:object="${htluser}" method="post"  -->
		<img class="mb-3  align-items-start" th:src="@{/static/images/login/u0.png}" alt="">
		<h1 class="h3 mb-3 font-weight-zero">请填写注册信息</h1>
		<div class="form-group">
			<label for="inputUsername" class="sr-only">账号</label> 
			<input type="text" id="username" name="userName" class="form-control" placeholder="账号"required autofocus>
		</div>
		<div class="form-group">
			 <label for="inputPassword" class="sr-only">密码</label> 
			 <input type="password" id="password" name="password" class="form-control" placeholder="密码" required>
		</div>	 
		<div class="form-group">
			 <label for="inputPassword" class="sr-only">确认密码</label> 
			 <input type="password" id="chkpassword" name="chkpassword" class="form-control" placeholder="确认密码" required>
		</div>	 
		<div class="form-group">
			 <label for="inputPassword" class="sr-only">注册手机</label> 
			 <input type="password" id="chkpassword" name="tel" class="form-control" placeholder="手机号" required>
		</div>	
		<div class="form-group">
			 <label for="inputPassword" class="sr-only">注册手机</label> 
			 <select id="s_branch" name="branchid" class="form-control"  required></select>
			 
		</div>
		
		<button class="btn btn-lg btn-primary btn-block" id="regist-submit"
			type="submit">确定</button>  
		<div class="alert alert-primary  display-hide" id = "showsuccess" role="alert">
			  注册成功 <a th:href="@{/login/html}" class="alert-link">点我跳转登录</a>。
		</div>
		<div class="alert alert-danger alert-dismissible display-hide">
			<button type="button" class="close" data-dismiss="alert"
				aria-hidden="true">&times;</button>
			<span class='regist_msg'></span>
		</div>
		
		<p class="mt-5 mb-3 text-muted">Copyright &copy; 2019-2022</p>
	</form>
  </body>
</html>
